# folders
original_data
data_new
data_new2
tmp

# data format
tmp.mat
data/tmp.mat
parameters.mat
*.csv
*.json

# figures format
*.png
*.eps

# workspace
yuanhao
shiyiyao
weishengen
